#container{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    background-color: aqua;
    
}

#top-part{
    width: 30%;
    height: 50%;
    border: 1px solid black;
    background-color: aqua;
    
}