<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <div id="container">
        <div id="top-part">
            <h1>Home Page</h1>
        </div>
        <div id="middle-part">
            <h3>Main Page</h3>
        </div>
        <div id="bottom-part">
            <p>Copyright</p>
        </div>
    </div>
    

</body>
</html>